
.coverage
coverage.xml

__pycache__/
*.pyc

# Credentials (IMPORTANT!)
replica.my.cnf
.env
*.cnf

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Jupyter
.ipynb_checkpoints

# Backup files
*.bak
*.tmp
